DATABASE_URL="postgresql://sajuak:sajuak_pass@localhost:5432/sajuak"
JWT_SECRET="ganti-dengan-string-acak-minimal-32-karakter"
ADMIN_USERNAME="SajuakJumatSedekah"
ADMIN_PASSWORD="isi-password-admin"
UPLOAD_DIR="./storage/bukti"
